@import '../../variables.scss';

.header {
    background-image: url(../../../public/img/header-background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    color: $white;
}